#pfp-small {
    width: 50px;
    border-radius: 50%;
}

body {
    background: #C6CFC5;
    margin: 0;
    font-family: 'Inter';
}

button {
    border: 0;
    background: none;
    padding: 0;
}

button img {
    width: 20px;
    color: white;
}

.container {
    display: grid;
    grid-template: 1fr / 1fr 4fr;
    min-height: 100vh;
    color: #322838;

}

.side-bar {
    grid-row: 1 / 4;
    box-shadow: 5px 0px 0px #126ea1;
    padding-left: 15px;
    padding-top: 15px;
}

.logo {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-bottom: 35px;
    font-size: 20px;
    font-weight: bolder;
    align-items: center;
}

.logo img {
    width: 50px;
}

.logo p {
    margin: 0;
    margin-right: 10px;
}

.pages img, .preferences img {
    width: 30px;
}

.pages, .preferences {
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr 5fr;
    justify-items: start;
    padding: 0; 
    align-items: center;
    gap: 15px 10px;
    font-size: 16px;
    font-weight: bold;
}

.pages p, .preferences p {
    margin: 0;
}

.pages {
    margin-bottom: 30px;
}

.header {
    display: grid;
    background-color: rgb(255, 255, 255);
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    padding: 20px 30px 20px 30px;
}

.top-bar {
    display: grid;
    grid-template-columns: 2fr 1fr;
    /* TOOD: set max height (maybe use minmax in template?) */
}

.search-bar {
    /* Possibly need to grid to make sure its horizontal */
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 10fr;
    
}

.search-bar input {
    border-radius: 25px;
    height: 21px;
    max-width: 80%;
    
}

#search-icon {
    height: 23px;
    width: 23px;
}

.user-bar {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 15px;
    justify-items: center;
    align-items: center;
}

.user-bar button {
    height: 50px;
}

#bell {
    width: 25px;
}

.user {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 15px;
    justify-items: center;
    font-size: 18px;
    font-weight: bold;
}

.user-actions {
    grid-template-columns: 2fr 1fr;
    display: grid;
    grid-template-columns: 3fr 1fr;
    /* gap: 15%; */
    /* Instead of gap, justify actions to end? */
}

.user-profile p span {
    font-size: 22px;
    font-weight: bold;
}


.user-profile-image-container {
    display: grid;
    align-items: center;
    justify-items: center;
}

.user-profile-image-container > img {
    width: 75px;
    border-radius: 50%;
}

.actions {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-items: center;
    align-items: center;
    justify-self: end;
}

.actions button {
    width: 120px;
    height: 50px;
    border-radius: 30px;
    background: #C6CFC5;

    font-size: 18px;
    font-weight: 500;
} 

.user-profile {
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.main-content {
    display: grid;
    grid-template: 1fr / 3fr 1fr;
    gap: 15px;
    padding-top: 15px;
    padding-left: 15px;
    background: rgb(226,232,240);
    background: linear-gradient(180deg, rgba(226,232,240,1) 25%, rgba(181,189,200,1) 53%);

    box-shadow: inset 0 5px 10px rgb(0 0 0 / 0.2);;
}

.projects {
    grid-row: 1/3;
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 15px;
}

.project {
    background-color: rgb(255, 255, 255);
    background-image: linear-gradient(to right, orange 1.5%, rgba(0,0,0,0) 1.5%); 
    border-radius: 12px;
    padding: 12px 12px 12px 12px;
    
}

.project-text {
    padding-right: 75px;
}

.project-actions {
    display: grid;
    justify-content: end;
    padding-right: 30px;
}

.project-actions-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: end;
    gap: 15px;
}

.project-actions-grid img {
    width: 20px;
}

.side-content {
    display: grid;
}

.announcements-grid, .trending-users-grid {
    display: grid;
    grid-template-rows: 1fr;
}

.trending-user {
    display: grid;
    grid-template: 1fr 1fr / 1fr 4fr;}

.trending-user-pfp {
    grid-row: 1/3;
    align-self: center;
}

.trending-user-pfp img {
    width: 50px;
    border-radius: 50%;
    justify-self: center;
    align-self: center;
}